* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: 300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: 300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

body {
  font-family: 'Poppins', sans-serif;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.site {
  margin: 0px;
  padding: 0px;
  background-color: #7d7d7d;
  overflow: hidden;
  font-size: 18px;
}

.site-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site .close {
  display: none;
}

.site-dest {
  letter-spacing: 1px;
  padding: 0 .8rem;
  line-height: 3rem;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: background-color .4s;
  transition: background-color .4s;
}

.site-dest:hover {
  background-color: #009688;
  color: #fff;
  text-decoration: none;
}

.site i.fa {
  position: absolute;
  padding: 8px 10px;
  right: 10px;
  display: none;
  font-size: 30px;
  color: #ffffff;
}

header {
  background: #009690;
  color: #ffffff;
  overflow: auto;
  padding: 10px;
  text-align: left;
}

header img {
  border-radius: 50px;
  float: left;
  margin-right: 30px;
  height: 100px;
}

header h2 {
  font-size: 25px;
  font-weight: bold;
}

header p {
  font-style: italic;
  padding: 10px 0;
}

.carousel-inner img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content {
  background: #f5f5f5;
}

.content article {
  background: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
}

.content img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content h4 {
  color: #0c9c69;
  font-weight: bold;
  font-size: 25px;
  padding: 10px;
}

.content .text {
  line-height: 30px;
}

.content .info {
  overflow: hidden;
  color: #a0a0a0;
  margin: 5px;
}

.content .info p {
  float: left;
}

.content .info p.date {
  margin-left: 20px;
}

.content .buttons {
  margin: 10px 0;
  overflow: hidden;
}

.content .buttons button {
  color: #ffffff;
  font-weight: bold;
  background: #0ba1d4;
  border-radius: 5px;
  float: left;
  padding: 15px;
  outline: none;
  border: none;
  font-size: 15px;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
}

.content .buttons button:hover {
  cursor: pointer;
  background: #e67512;
}

.content .buttons button i {
  margin-left: 1rem;
}

.content .buttons p {
  padding: 15px;
  font-size: 16px;
  float: right;
  color: #a0a0a0;
}

section.profile {
  background: #ffffff;
  overflow: hidden;
  padding: 10px;
}

section.profile img {
  height: 100px;
  width: 100px;
  margin: 0 120px;
  border-radius: 50px;
}

section.profile .personal {
  margin: 10px 0;
}

section.profile .personal .name {
  font-weight: bold;
  font-size: 18px;
}

section.profile .personal .desc {
  padding: 5px 0;
  line-height: 1.2em;
  text-align: justify;
}

section.widget {
  background: #ffffff;
  margin: 15px 0;
  padding: 10px;
}

section.widget h4 {
  font-size: 20px;
  font-weight: bold;
  color: #0c9c69;
  padding: 0 0 10px 0;
  border-bottom: 5px solid #de7a33;
}

section.widget img {
  width: 100%;
}

section.widget .post a {
  display: block;
  color: black;
}

section.widget .post a:nth-child(odd) {
  background: #ebfaff;
}

section.widget .post a:hover {
  background: #C8E6D2;
}

section.widget .post a .item {
  overflow: hidden;
  padding: 10px 0;
}

section.widget .post a .item .image {
  float: left;
  width: 25%;
}

section.widget .post a .item .image img {
  width: 100%;
}

section.widget .post a .item .detail {
  float: left;
  margin-left: 10px;
  text-align: justify;
  width: 70%;
}

section.widget .post a .item .detail .title {
  padding-bottom: 5px;
  font-size: 15px;
}

section.widget .post a .item .detail .date {
  font-size: 14px;
  color: #b0b0b0;
}

section.widget .words {
  margin: 10px 0;
}

section.widget .words li {
  display: inline-block;
  margin: 5px;
  padding: 2px;
  background: #37ad61;
}

section.widget .words li a {
  text-decoration: none;
  color: #ffffff;
}

section.widget .words li a:hover {
  text-decoration: underline;
}

section.widget .items {
  margin: 10px 0;
}

section.widget .items li {
  padding: 0 10px;
  display: block;
}

section.widget .items li:hover {
  background: #C8E6D2;
}

section.widget .items li a {
  display: block;
  padding: 10px 0;
  text-decoration: none;
  overflow: hidden;
}

section.widget .items li a .title {
  color: #000;
  font-size: 15px;
  font-weight: bold;
  float: left;
}

section.widget .items li a .count {
  float: right;
  color: #8F8F8F;
}

footer {
  overflow: auto;
  background: #0f5c49;
  padding: 20px 0;
}

footer div {
  text-align: center;
}

footer .icons i {
  font-size: 40px;
  color: #fff;
  padding: 0 5px;
  margin: 0;
}

footer .copyright {
  text-align: right;
  font-size: 18px;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .site.mobile-mod {
    text-align: center;
    z-index: 1;
    overflow: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #afff;
  }
  .site.mobile-mod-bar {
    display: block;
  }
  .site.mobile-mod-bar a {
    display: block;
    color: #009688;
  }
  .site.mobile-mod-bar a.close {
    font-weight: bold;
    display: block;
  }
  .site.mobile-mod-bar a.close i {
    position: relative;
    display: inline-block;
    color: #009688;
    font-size: 20px;
  }
  .site.mobile-mod-login {
    display: none;
  }
  .site-bar {
    height: 45px;
  }
  .site-bar a {
    display: none;
  }
  .site i.fa {
    display: inline-block;
    right: 0;
  }
  [class*="col-"] {
    display: block;
    float: none;
    width: 100%;
    text-align: center;
  }
  .container {
    width: 100%;
  }
  footer .copyright {
    text-align: center;
  }
}
/*# sourceMappingURL=blog_site.css.map */